@model BookStore.Models.Author

<h2>Create</h2>
<h4>Author</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   
            <div class="form-group">
                <label asp-for="FulName" class="control-label"></label>
                <input asp-for="FulName" class="form-control" />
                <span asp-validation-for="FulName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-outline-info">Back</a>

            </div>
        </form>
    </div>
</div>
